
.bg{
    background: #f00;
    height: 200vh;
}

section {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    pointer-events: none;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background:#f00; */
    mix-blend-mode: color-dodge;
}
section img#bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
section img#moon {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
section img#cloud1 {
    position: absolute;
    top: 100px;
    left: 50px;
    max-width: 600px;
    z-index: 2;    
}
section img#cloud2 {
    position: absolute;
    top: 150px;
    right: 50px;
    max-width: 600px;
    z-index: 2;    
}
section img#santa {
    position: absolute;
    bottom: 50px;
    left: -600px;
    z-index: 1;    
    max-width: 600px;
}
section #tree {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;    
    width: 200%;
    height: 266px;
    background-image: url(../../Assets//tree.png);
    background-position-x: 266px;
    z-index: 10;
}
section #text{
    position: absolute;
    bottom: -400px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 6em;
    z-index: 11;
}
section #text2{
    position: absolute;
    bottom: -320px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2em;
    z-index: 11;
}
.info{
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 3%;
    left: 45%;
    color: #fff;
}
  .info::before,
  .info::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
  }

  .info::before {
    left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .info::after {
    right: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
#section10 a {
    padding-top: 60px;
  }
  #section10 a span {
    position: absolute;
    /* top: 0; */
    left: 95%;
    bottom: 50%;
    width: 35px;
    height: 60px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
@media screen and (min-width: 320px) and (max-width: 480px) {
    section img#bg {
        height: 200vh;
    }
    section img#moon { 
        position: absolute;
            top: 40px;
            left: 20px;
            height: auto;
        
    }
    section img#cloud1 {
        position: absolute;
        left: 20px;
        max-width: 170px;   
    }
    section img#cloud2 {
        top: 140px;
        right: 0px;
        max-width: 170px;
    }
    section img#santa {
        left: -600px; 
        bottom: 25px;
        max-width: 180px;
    }
    section #tree {
        width: 260%;
        height: 220px;
        background-position-x: 180px;
        z-index: 10;
    }
    section #text{
        font-size: 1.5em;
    }
    .info{
        display: inline-block;
        padding: 10px;
        position: relative;
        top: 3%;
        left: 39%;
        font-size:x-small;
        color: #fff;
        
    }
    #section10 a span {
        position: absolute;
        /* top: 0; */
        left: 90%;
        bottom: 50%;
        width: 30px;
        height: 50px;
      }
      
}
@media screen and (min-width : 481px) and (max-width : 768px) {
    section img#moon { 
        position: absolute;
            top: 20px;
            /* left: 20px; */
            height: auto;
            width: 500px;
    }
    section img#cloud1 {
        position: absolute;
        left: 25px;
        max-width: 200px;   
    }
    section img#cloud2 {
        top: 140px;
        right: 0px;
        max-width: 220px;
    }
    section img#santa {
        left: -600px; 
        bottom: 25px;
        max-width: 340px;
    }
    section #tree {
        width: 260%;
        height: 220px;
        background-position-x: 180px;
        z-index: 10;
    }
    section #text{
        font-size: 2.5em;
    }
}